.menu-item{
   border: 2px solid #66cdaa;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.submenu{
    height: 40px;
    width: 120px;
    background: red;
    position: absolute;
    cursor: pointer;
}